@import "tailwindcss";

@theme {
  --color-dark: #101318;
  --color-light: #f2eeee;
  --color-muted-light: #6a7282;
  --color-muted-dark: #99a1af;
  --color-primary-dark: #ffffff;
  --color-primary-light: #1f2937;
  --color-surface-dark: #171a21;
  --color-surface-light: #ffffff;
  --color-card-dark: #1f2530;
  --color-card-light: #f3f4f6;
  --color-outline-light: #d1d5dc;
  --color-outline-dark: #3a4250;
  --color-outline-light: #d1d5dc;
  --color-menuHighlightColor: #875AF2;
  --color-button: #2B7FFF;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
